.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

.exercise {
  margin-left: auto;
  margin-right: auto;
}

.exercise img {
  width: 50vw;
}

.exercise a {
  text-decoration: none;
  color: #333;
}

.exercise a:hover {
  text-decoration: underline;
  color: #f84d7a;
}
