:root {
  --color: #000;
  --blur: 0px;
}

body {
  background-image: url('assets/background.png');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'helvetica neue'
}

.controls {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.control-blur {
  margin-bottom: 2rem;
}

.image-container {
  position: relative;
  margin: auto;
  width: 495px;
  height: 329px;
  border: 10px solid var(--color);
}

.logo {
  position: absolute;
  z-index: 2;
  height: 300px;
  width: 300px;
  left: 50%;
  transform: translateX(-150px);
}

.scenery {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 334px;
  filter: blur(var(--blur));
}
