body {
  background-image: url('assets/background.png');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'helvetica neue'
}

.controls {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.control-blur {
  margin-bottom: 2rem;
}

.image-container {
  margin: auto;
  width: 75vw;
  border: 10px solid #333;
  background-image: url(assets/scenery.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foreground {
  z-index: 10;
  height: 100px;
  width: 100px;
}
